/* MIXINS HERE */

ellipsis(lines)
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp lines
    -o-text-overflow ellipsis
    text-overflow ellipsis
    height auto
    overflow hidden
    
/* BRAKEPOINTS  */
for_breakpoint(breakpoints)
    conditions = ()
    for breakpoint in breakpoints
        push(conditions, media_queries[breakpoint])
    conditions = join(", ", conditions)
    @media conditions
        {block}
        
new_breakpoint(min, max, orient)
    if min && max
        if orient
            @media all and (min-width: min) and (max-width: max) and (orientation: orient)
                {block}
        else 
            @media all and (min-width: min) and (max-width: max)
                {block}
    else if min
        if orient
            @media all and (min-width: min) and (orientation: orient)
                {block}
        else 
            @media all and (min-width: min)
                {block}
    else if max
        if orient 
            @media all and (max-width: max) and (orientation: orient)
                {block}
        else 
            @media all and (max-width: max)
                {block}