/* GLOBAL VARIABLES */


$size-desktop       = 1610px
$size-desktop-min   = 1025px
$size-tablet-min    = 769px
$size-tablet-max    = 1024px
$size-mobile-min    = 320px
$size-mobile-max    = 768px

/* COLOR VARIABLES */
$bg-color       = #5985b1

$aqua           = #00F5FF
$blue           = #017cd1
$gray-blue      = #a0b1bd
$darker-blue    = #1a1c27
$keppel         = #3ca4a5
$desert-storm   = #f8f7f5
$green-aproved  = #006644

/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$medium-gray    = #7f8b94
$light-gray     = #f9fafb
$dark-gray      = #3c3839
$deep-gray      = #a0b1bc
$nevada         = #6d6d77
$borders        = #d5d5d5

/* FONTS */
$font-normal        = 'Lato', sans-serif
$conforta-bold      = 'comfortaabold'
$conforta-regular   = 'comfortaaregular'
$conforta-thin      = 'comfortaathin'
$font-wt-light      = 300
$font-wt-regular    = 400
$font-wt-bold       = 700
$font-wt-extrabold  = 900


/* BRAKEPOINTS */
media_queries = {
    mobile  : "only screen and (min-width: "+ $size-mobile-min +") and (max-width: "+ $size-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $size-tablet-min +") and (max-width: "+ $size-tablet-max +")",
    desktop : "only screen and (min-width: "+ $size-desktop-min +")"
}